@{
    ViewBag.Title = "Home Page";
}
@using applicationFiltre

@Styles.Render("~/style/Style.css")

<div>
    <div class="containerI">

        @Html.ActionLink("Lentille", "Index", new { type = "Lentille" }, null)
        @Html.ActionLink("Verre", "Index", new { type = "Verre" }, null)

    </div>
</div>